@import "reset.css";

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #fce4bf3b;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.header-heading {
	text-align: center;
	font-size: 40px;
	line-height: 54px;
	font-weight: 700;
	color: #000;
}

.filters {
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	padding: 40px 0;
	border-radius: 4px;
	background-color: #70707024;
}

.filters-age-label,
.filters-sort-label {
	font-size: 18px;
}

.filters-age-select,
.filters-sort-select {
	padding: 8px 10px;
	border: 1px solid #707070;
	border-radius: 16px;
	background-color: #70707024;
	font-size: 16px;
	cursor: pointer;
}

.filters-age-option,
.filters-sort-option {
	font-size: 14px;
}

.filters-reset {
	font-size: 18px;
	padding: 10px 30px;
	border: 1px solid #707070;
	border-radius: 16px;
	background-color: #ffdbdb;
	transition: all 0.3s;
}

.users {
	padding-bottom: 100px;
}

.users-line,
.users-list-item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.5fr 2fr;
	align-items: center;
	justify-items: center;
	transition: all 0.3s;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 27px;
	color: #000;
}

.users-line {
	border: 1px solid #707070;
}

.users-list-item:nth-child(even) {
	background: #ffdbdb;
}

.users-list-item-avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.users-list-item-avatar-img {
	width: 60px;
	aspect-ratio: 1 / 1;
}

.users-list-item-avatar-btn {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #707070;
	border-radius: 4px;
	font-size: 14px;
	background-color: #ffdbdb;
	transition: all 0.3s;
}

.users-list-item:hover,
.filters-reset:hover,
.users-list-item-avatar-btn:hover {
	transform: scale(1.1);
	box-shadow: 4px 4px 8px #000;
}

.users-error,
.loading,
.error {
	display: flex;
	margin-block-start: 30vh;
	justify-content: center;
	font-size: 20px;
	line-height: 27px;
	color: #707070;
}

.error {
	color: red;
}

@media (max-width: 750px) {
	.header-heading {
		font-size: 30px;
	}

	.filters {
		flex-direction: column;
		gap: 20px;
		margin: 20px 0;
		padding: 40px 0;
	}

	.filters-age-label,
	.filters-sort-label {
		font-size: 16px;
	}

	.filters-age-select,
	.filters-sort-select {
		font-size: 14px;
	}

	.filters-age-option,
	.filters-sort-option {
		font-size: 12px;
	}

	.filters-reset {
		font-size: 16px;
	}

	.users-line,
	.users-list-item {
		font-size: 14px;
	}
}

@media (max-width: 550px) {
	.users-line {
		display: none;
	}

	.users-list-item {
		grid-template-columns: 1fr;
		gap: 10px;
		border: 1px solid #707070;
		margin-bottom: 10px;
		padding: 20px;
	}

	.users-list-item:last-child {
		margin-bottom: 0;
	}

	.users-list-item-name::before {
		content: "First name: ";
		font-weight: 600;
		color: #707070;
	}

	.users-list-item-last-name::before {
		content: "Last name: ";
		font-weight: 600;
		color: #707070;
	}

	.users-list-item-age::before {
		content: "Age: ";
		font-weight: 600;
		color: #707070;
	}

	.users-list-item-email::before {
		content: "Email: ";
		font-weight: 600;
		color: #707070;
	}
}
